.format {
    padding: 70px 0;
}

.format__title {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 0 50px 0;
    text-align: center;
}

.format__text {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px 0;
}

.format__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.format__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.format__item h3 {
    font-size: 48px;
    text-align: right;
    line-height: 1.1;
    color: $color-red;
    margin: 0;
}

.format__item p {
    font-size: 24px;
    margin: 0;
    line-height: 1.1;
}

.format__link {
    display: block;
    width: 250px;
    background-color: #643FFF;
    color: $color-default-white;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #643FFF;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.format__link:hover {
    color: $color-default-black;
    background-color: #fff;
}