.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav--footer {
  justify-content: center;
  margin: 25px 0 55px;

  .nav__list {
    @include vp-1200 {
      flex-direction: row;
    }
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 480px;

  @include vp-1200 {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }
}

.nav__item {
  @include vp-1200 {
    margin-bottom: 15px;
  }
}

.nav__link {
  color: $color-default-white;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.2;
  margin: 2px;
  padding: 10px;
  white-space: nowrap;
  transition: color 0.3s ease;

  @include vp-1200 {
    padding-left: 0;
  }
}

.nav__link:hover {
  color: $color-golden;
}
